[Unit]
Description=triggers eclipse sequence on boot

After=dev-Camera.device
BindsTo=dev-Camera.device
Requisite=dev-Camera.device

[Service]
StandardOutput=journal
ExecStart=/usr/local/bin/eclipse.py

[Install]
WantedBy=blinkled.target
